.nav-info{
    padding-left: 10px;
    color: grey;
}
#custom-sidebar{
    width: 20vw;
}
#mainpage{
    margin-left: 20vw;
}
#chatwin-nav{
    margin-left: 20vw;
    margin-top: 80px;
}
#chatwin-main{
    padding-top: 85px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 70px;
}
#chatwin-footer{
    margin-left: 20vw;
}

:root{
    --chatconfig-personal_namecolor: #A74300;
    --chatconfig-personal_textcolor: #689C1A;
    --chatconfig-other_namecolor: #ADFF2F;
    --chatconfig-other_textcolor: #808080;
}

.media{
    margin: 5px;
    background-color: var(--chatconfig-other_textcolor);
    width: 36vw;
    border-radius: 10px;
}
.media h6{
    color: var(--chatconfig-other_namecolor);
}
.sent{
    background-color: var(--chatconfig-personal_textcolor);
    margin-left: 42vw;
}
.sent h6{
    color: var(--chatconfig-personal_namecolor);
}