body{
    overflow-y: hidden;
}
#wrap{
    padding-left: 2vw;
    padding-top:5vh;
}

#filewindow{
    padding-left: 220px;
}

.dwn{
    color: #0070ac;
}

.bin{
    color: #df6603;
}

.mv{
    color: #1e8d02;
}

.del{
    color: rgb(187, 0, 0);
}

.rn{
    color: rgb(255, 214, 80);
}

#progress{
    width: 50vw;
}

button:active {
    outline: none;
    border: none;
}
    
button:focus {outline:0;}

.spinning{
    animation-name: spin-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes spin-animation{
    from{transform: rotate(0deg);}
    to{transform: rotate(359deg);}
}

.mdc-drawer{
    float: left;
    position: fixed;
}
#drawer{
    height: 68vh;
    overflow-y: scroll;
    width: 210px;
}
#file_part{
    margin-top: 145px;
    height: 57vh;
    overflow-y: scroll;
}
#info{
    position: fixed;
    padding-top: 90px;
}