<aside id="mdc-drawer">
    <div id="drawer-header">
        <h4>Public Cloud</h4>
    </div>
    <div id="drawer">
        <ul class="nav flex-column">
            <h6>Directories</h6>
            <li class="nav-item">
                <a class="clearfix" onclick="navigate('back')">
                    <i class="material-icons btn mi2" aria-hidden="true">arrow_back</i>
                    <span class="folderclick">Back</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="clearfix" onclick="navigate('main')">
                    <i class="material-icons btn mi2" aria-hidden="true">folder_open</i>
                    <span class="folderclick">Main Cloud</span>
                </a>
            </li>
            <!-- <li class="nav-item">
                <a onclick="load('main')" class="clearfix">
                    <i class="material-icons btn mi2" aria-hidden="true">lock</i>
                    <span class="folderclick">Safe Storage</span>
                </a>
            </li> -->
            <li>
                <a onclick="navigate('trash')" class="clearfix">
                    <i class="material-icons btn mi2" aria-hidden="true">delete</i>
                    <span class="folderclick">Trash</span>
                </a>
            </li>
            <hr>
            <h6>Options</h6>
            <a onclick="newFile()">
                <i class="material-icons btn mi2" aria-hidden="true">note_add</i>
                <span class="folderclick">New File</span>
            </a>
            <a onclick="newFolder()">
                <i class="material-icons btn mi2" aria-hidden="true">create_new_folder</i>
                <span class="folderclick">New Folder</span>
            </a>
            <a onclick="upload()">
                <i class="material-icons btn mi2" aria-hidden="true">cloud_upload</i>
                <span class="folderclick">Upload</span>
            </a>
        </ul>
    </div>
</aside>




<div id="filewindow">
    <p>Index of <a id="indexof"></a></p>
    <div id="file_part">
        <input class="form-control" id="filesearch" type="text" placeholder="Search">
        <table class="table table-hover" id="filetable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Options</th>
                    <th>Type</th>
                    <th>Size</th>
                </tr>
            </thead>
            <tbody id="wrapperlist">
                
            </tbody>
        </table>
        <br><br>
    </div>

</div>




<script>
    $(document).ready(function(){
        $("#filesearch").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#filetable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
    var url = `https://interface.software-city.org/${getVal("credentials")[0]}/cloud/app`
    // var url = `http://localhost/${getVal("credentials")[0]}/cloud/app`
    var path = ""

    navigate("main")
</script>