<button onclick="notify()">Notify</button>

<script>

    function playSound(url){
        var audio = document.createElement('audio');
        audio.style.display = "none";
        audio.src = url;
        audio.autoplay = true;
        audio.onended = function(){
            audio.remove() //Remove when played.
        };
        document.body.appendChild(audio);
    }

    var remote = require("electron").remote
    var { app } = require("electron").remote
    var win = remote.getCurrentWindow()
    var sound = "./../static/audio/notifications/out-of-space-dog.mp3"

    function notify(){

        playSound(sound)

        if(!win.isFocused()){
            let myNotification = new Notification('Title', {
                body: 'body',
                silent: false,
                icon: "./../static/logos/logo.ico",
                timeoutType: "default"
            });

            myNotification.onclick = () => {
                console.log('Notification clicked');
            }
        }
    }
</script>